form{
  border: 1px solid grey;
  border-radius: 16px;
  padding: 30px;
}
.form-group{
  display: flex;
  justify-content: space-between;
  justify-items: center;
  gap: 3px;
}
.form-group:nth-child(3){
  justify-content: end;
  align-items: end;
}
button{
  width: 100%;
}

